body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url("new.jpg");
  background-position: center;
  background-size: cover;
}

#register {
  margin: auto;
}

.register-form-container {
  max-width: 400px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 5px 11px 0px #80808069;
  padding: 20px;
}

.awesome-form .form-title {
  color: #666;
  padding: 0;
  margin: 5px;
}

.form-title {
  margin-top: 20px;
  text-align: center;
}

.button-group {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.button-group button {
  width: 45%;
}

input {
  background: none;
  font-family: var(--main-font);
  border: solid 2px var(--dark-grey);
  color: black;
  padding: 15px 40px;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  border: none;
  border-bottom: solid 2px var(--brand-grey);
  -webkit-transition: 200ms linear;
  -moz-transition: 200ms linear;
  transition: 200ms linear;
}
input:focus,
input:active,
input:valid {
  outline: none;
}

input[type="submit"]:hover {
  color: white;
  background: var(--dark-grey);
}
input[type="submit"]:active {
  color: white;
  background: var(--dark-grey);
  -webkit-animation: pulse 200ms ease-out;
  -moz-animation: pulse 200ms ease-out;
  animation: pulse 200ms ease-out;
}

.input-group {
  display: block;
  margin: 20px 0;
  position: relative;
  margin: 20px 0 5px 0px;
}
.input-group input {
  position: relative;
  padding: 5px 0px;
  margin: 5px 0;
}
.input-group input:focus + .border,
.input-group input:valid + .border {
  width: 100%;
}
.input-group input:focus + .border + label,
.input-group input:valid + .border + label {
  top: -6px;
  font-size: 12px;
  color: #aaa;
}
.input-group label {
  position: absolute;
  top: 40%;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  -webkit-transition: 200ms linear;
  -moz-transition: 200ms linear;
  transition: 200ms linear;
}
.input-group span {
  width: 100%;
  font-family: var(--main-font);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  -webkit-transition: 200ms linear;
  -moz-transition: 200ms linear;
  transition: 200ms linear;
}

.input-group .border {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--dark-grey);
  -webkit-transition: 200ms ease;
  -moz-transition: 200ms ease;
  transition: 200ms ease;
}

.input-group .error {
  position: absolute;
  top: 100%;
  left: 0px;
  color: #f22613;
}
.input-group .error + input + .border {
  background: #f22613;
}

.input-group .compliment {
  position: absolute;
  top: 100%;
  left: 0px;
  color: #26a65b;
}
.input-group .compliment + input + .border {
  background: #26a65b;
}

.location-data {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
}

@-webkit-keyframes pulse {
  100% {
    outline-offset: 10px;
    outline-color: transparent;
  }
}
@-moz-keyframes pulse {
  100% {
    outline-offset: 10px;
    outline-color: transparent;
  }
}
@keyframes pulse {
  100% {
    outline-offset: 10px;
    outline-color: transparent;
  }
}
